/* Styling form and resume sections */

body {
    font-family: 'Gill Sans', 'Gill Sans MT', 'Trebuchet MS', sans-serif;
    margin: 20px;
    padding: 0;
    background-color: rgb(128, 76, 171);
    font-size: 20px;
    
}

form {
    margin: auto;
    background-color: rgb(204, 188, 247);
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(53, 10, 76, 0.5);
    padding: 20px;
    max-width: 600px;
}

h1 {
    text-align: center;
    color: black;
    text-shadow: black;
}

fieldset {
    border: 2px solid rgb(95, 18, 137);
    border-radius: 8px;
    padding: 20px;
    margin-bottom: 20px;
    background-color: aliceblue;
}

legend {
    font-weight: bold;
    font-size: 24px;
    text-align: left;
    color: rgb(34, 29, 29);
}

label {
    display: block;
    margin-top: 10px;
    color: black;

}

input,textarea {
    font-size: 14px;
    margin-top: 4px;
    padding: 9px;
    width: calc(100% - 1px);
    border: 2px solid rgb(61, 39, 126);
    border-radius: 2px;
    box-sizing: border-box;
}

button {
    display: block;
    width: 100%;
    background-color: rgb(156, 108, 219);
    color: black;
    border: none;
    border-radius: 4px;
    box-shadow: 0 4px 8px rgba(117, 56, 222, 0.5);
    margin-top: 10px;
    font-size: 18px;
    font-family: 'Gill Sans', 'Gill Sans MT',  'Trebuchet MS', sans-serif;
    padding: 10px;
    cursor: pointer;
}

button :hover {
    color: rgb(52, 15, 111);
}

#resume-display {
    max-width: 600px;
    margin: auto;
    padding: 20px;
    border: 2px solid rgb(140, 51, 204);
    border-radius: 8px;
    background-color: rgb(194, 176, 239);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
}

#resume-display h2 {
    color: black;
}
